.bga{
  position: relative;
  background: #fff url(/assets/background/storage.png) center repeat-x;
  height: 400px;
}

.container{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  margin: 40px;
  font-size: 40px;
}

p{
  text-align: center;
  color: rgb(black, .6);
  font-size: 18px;
}

button{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
