<mat-toolbar class="header">
  <mat-toolbar-row class="header-wrapper">
    <img routerLink="" class="header-wrapper__title" src="assets/logo/title.svg" alt="" />
    <div *ngIf="userService.user$ | async as user; else default" class="button">
      <div class="icon-cover">
        <button
          class="button__icon"
          mat-mini-fab
          [matMenuTriggerFor]="avatar"
          [style.background-image]="
            'url(/assets/images/' + user.myPokemon + '.png)'
          "
        ></button>
      </div>
      <mat-menu #avatar="matMenu">
        <button routerLink="/settings" mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>設定</span>
        </button>
        <button mat-menu-item (click)="authService.logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>ログアウト</span>
        </button>
      </mat-menu>
    </div>
    <ng-template #default>
      <button class="main-btn main-btn--small" (click)="authService.login()">
        ログイン
      </button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
