.header-wrapper {
  max-width: 1024px;
  margin: 0 auto;
  justify-content: space-between;
  &__title {
    width: 104px;
  }
}

img{
  cursor: pointer;
  outline: none;
}

.button {
  &__icon {
    background: center / cover;
    box-shadow: none;
  }
}

.icon-cover {
  background: #ffffff;
  border-radius: 50%;
}
