.calendar {
  width: 100%;
  max-width: 400px;
  height: 400px;
}

:host ::ng-deep {
  .fc .fc-daygrid-day-frame {
    position: relative;
    height: 45px;
    max-width: 500px;
  }

  .fc .fc-toolbar-title {
    font-size: 15px;
    font-weight: normal;
  }

  .fc-toolbar-chunk {
    display: flex;
    button {
      display: flex;
      justify-content: center;
      max-width: 30px;
    }
  }

  .fc .fc-daygrid-day-number {
    padding: 0;
    padding-right: 4px;
    font-size: 14px;
  }

  .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    position: relative;
    min-height: 0;
    height: 15px;
  }

  .fc-daygrid-day-events {
    display: flex;
  }
  .fc-daygrid-event-harness {
    width: 50%;
  }

  @for $i from 1 through 151 {
    .fc-pokemon#{$i},
    .fc-pokemon#{$i} div,
    .fc-pokemon#{$i} span a {
      border: none;
      background: url('/assets/images/#{$i}.png') no-repeat;
      background-size: 20px 20px;
    }
  }

  .fc .fc-view-harness {
    background: #ffffff;
  }
}
