.calendar {
  width: 100%;
  max-width: 400px;
  height: 400px;
}

:host ::ng-deep {
  .fc .fc-daygrid-day-frame {
    position: relative;
    height: 45px;
    max-width: 500px;
  }

  .fc .fc-daygrid-day-number {
    padding: 0;
    padding-right: 4px;
    font-size: 14px;
  }

  .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    position: relative;
    min-height: 0;
    height: 15px;
  }

  .fc-pokemon1,
  .fc-pokemon1 div,
  .fc-pokemon1 span a {
    border: none;
    background: url('/assets/images/1.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon2,
  .fc-pokemon2 div,
  .fc-pokemon2 span a {
    border: none;
    background: url('/assets/images/2.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon3,
  .fc-pokemon3 div,
  .fc-pokemon3 span a {
    border: none;
    background: url('/assets/images/3.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon4,
  .fc-pokemon4 div,
  .fc-pokemon4 span a {
    border: none;
    background: url('/assets/images/4.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon5,
  .fc-pokemon5 div,
  .fc-pokemon5 span a {
    border: none;
    background: url('/assets/images/5.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon6,
  .fc-pokemon6 div,
  .fc-pokemon6 span a {
    border: none;
    background: url('/assets/images/6.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon7,
  .fc-pokemon7 div,
  .fc-pokemon7 span a {
    border: none;
    background: url('/assets/images/7.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon8,
  .fc-pokemon8 div,
  .fc-pokemon8 span a {
    border: none;
    background: url('/assets/images/8.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon9,
  .fc-pokemon9 div,
  .fc-pokemon9 span a {
    border: none;
    background: url('/assets/images/9.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon10,
  .fc-pokemon10 div,
  .fc-pokemon10 span a {
    border: none;
    background: url('/assets/images/10.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon11,
  .fc-pokemon11 div,
  .fc-pokemon11 span a {
    border: none;
    background: url('/assets/images/11.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon12,
  .fc-pokemon12 div,
  .fc-pokemon12 span a {
    border: none;
    background: url('/assets/images/12.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon13,
  .fc-pokemon13 div,
  .fc-pokemon13 span a {
    border: none;
    background: url('/assets/images/13.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon14,
  .fc-pokemon14 div,
  .fc-pokemon14 span a {
    border: none;
    background: url('/assets/images/14.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon15,
  .fc-pokemon15 div,
  .fc-pokemon15 span a {
    border: none;
    background: url('/assets/images/15.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon16,
  .fc-pokemon16 div,
  .fc-pokemon16 span a {
    border: none;
    background: url('/assets/images/16.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon17,
  .fc-pokemon17 div,
  .fc-pokemon17 span a {
    border: none;
    background: url('/assets/images/17.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon18,
  .fc-pokemon18 div,
  .fc-pokemon18 span a {
    border: none;
    background: url('/assets/images/18.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon19,
  .fc-pokemon19 div,
  .fc-pokemon19 span a {
    border: none;
    background: url('/assets/images/19.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon20,
  .fc-pokemon20 div,
  .fc-pokemon20 span a {
    border: none;
    background: url('/assets/images/20.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon21,
  .fc-pokemon21 div,
  .fc-pokemon21 span a {
    border: none;
    background: url('/assets/images/21.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon22,
  .fc-pokemon22 div,
  .fc-pokemon22 span a {
    border: none;
    background: url('/assets/images/22.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon23,
  .fc-pokemon23 div,
  .fc-pokemon23 span a {
    border: none;
    background: url('/assets/images/23.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon24,
  .fc-pokemon24 div,
  .fc-pokemon24 span a {
    border: none;
    background: url('/assets/images/24.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon25,
  .fc-pokemon25 div,
  .fc-pokemon25 span a {
    border: none;
    background: url('/assets/images/25.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon26,
  .fc-pokemon26 div,
  .fc-pokemon26 span a {
    border: none;
    background: url('/assets/images/26.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon27,
  .fc-pokemon27 div,
  .fc-pokemon27 span a {
    border: none;
    background: url('/assets/images/27.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon28,
  .fc-pokemon28 div,
  .fc-pokemon28 span a {
    border: none;
    background: url('/assets/images/28.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon29,
  .fc-pokemon29 div,
  .fc-pokemon29 span a {
    border: none;
    background: url('/assets/images/29.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon30,
  .fc-pokemon30 div,
  .fc-pokemon30 span a {
    border: none;
    background: url('/assets/images/30.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon31,
  .fc-pokemon31 div,
  .fc-pokemon31 span a {
    border: none;
    background: url('/assets/images/31.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon32,
  .fc-pokemon32 div,
  .fc-pokemon32 span a {
    border: none;
    background: url('/assets/images/32.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon33,
  .fc-pokemon33 div,
  .fc-pokemon33 span a {
    border: none;
    background: url('/assets/images/33.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon34,
  .fc-pokemon34 div,
  .fc-pokemon34 span a {
    border: none;
    background: url('/assets/images/34.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon35,
  .fc-pokemon35 div,
  .fc-pokemon35 span a {
    border: none;
    background: url('/assets/images/35.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon36,
  .fc-pokemon36 div,
  .fc-pokemon36 span a {
    border: none;
    background: url('/assets/images/36.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon37,
  .fc-pokemon37 div,
  .fc-pokemon37 span a {
    border: none;
    background: url('/assets/images/37.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon38,
  .fc-pokemon38 div,
  .fc-pokemon38 span a {
    border: none;
    background: url('/assets/images/38.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon39,
  .fc-pokemon39 div,
  .fc-pokemon39 span a {
    border: none;
    background: url('/assets/images/39.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon40,
  .fc-pokemon40 div,
  .fc-pokemon40 span a {
    border: none;
    background: url('/assets/images/40.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon41,
  .fc-pokemon41 div,
  .fc-pokemon41 span a {
    border: none;
    background: url('/assets/images/41.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon42,
  .fc-pokemon42 div,
  .fc-pokemon42 span a {
    border: none;
    background: url('/assets/images/42.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon43,
  .fc-pokemon43 div,
  .fc-pokemon43 span a {
    border: none;
    background: url('/assets/images/43.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon44,
  .fc-pokemon44 div,
  .fc-pokemon44 span a {
    border: none;
    background: url('/assets/images/44.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon45,
  .fc-pokemon45 div,
  .fc-pokemon45 span a {
    border: none;
    background: url('/assets/images/45.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon46,
  .fc-pokemon46 div,
  .fc-pokemon46 span a {
    border: none;
    background: url('/assets/images/46.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon47,
  .fc-pokemon47 div,
  .fc-pokemon47 span a {
    border: none;
    background: url('/assets/images/47.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon48,
  .fc-pokemon48 div,
  .fc-pokemon48 span a {
    border: none;
    background: url('/assets/images/48.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon49,
  .fc-pokemon49 div,
  .fc-pokemon49 span a {
    border: none;
    background: url('/assets/images/49.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon50,
  .fc-pokemon50 div,
  .fc-pokemon50 span a {
    border: none;
    background: url('/assets/images/50.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon51,
  .fc-pokemon51 div,
  .fc-pokemon51 span a {
    border: none;
    background: url('/assets/images/51.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon52,
  .fc-pokemon52 div,
  .fc-pokemon52 span a {
    border: none;
    background: url('/assets/images/52.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon53,
  .fc-pokemon53 div,
  .fc-pokemon53 span a {
    border: none;
    background: url('/assets/images/53.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon54,
  .fc-pokemon54 div,
  .fc-pokemon54 span a {
    border: none;
    background: url('/assets/images/54.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon55,
  .fc-pokemon55 div,
  .fc-pokemon55 span a {
    border: none;
    background: url('/assets/images/55.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon56,
  .fc-pokemon56 div,
  .fc-pokemon56 span a {
    border: none;
    background: url('/assets/images/56.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon57,
  .fc-pokemon57 div,
  .fc-pokemon57 span a {
    border: none;
    background: url('/assets/images/57.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon58,
  .fc-pokemon58 div,
  .fc-pokemon58 span a {
    border: none;
    background: url('/assets/images/58.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon59,
  .fc-pokemon59 div,
  .fc-pokemon59 span a {
    border: none;
    background: url('/assets/images/59.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon60,
  .fc-pokemon60 div,
  .fc-pokemon60 span a {
    border: none;
    background: url('/assets/images/60.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon61,
  .fc-pokemon61 div,
  .fc-pokemon61 span a {
    border: none;
    background: url('/assets/images/61.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon62,
  .fc-pokemon62 div,
  .fc-pokemon62 span a {
    border: none;
    background: url('/assets/images/62.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon63,
  .fc-pokemon63 div,
  .fc-pokemon63 span a {
    border: none;
    background: url('/assets/images/63.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon64,
  .fc-pokemon64 div,
  .fc-pokemon64 span a {
    border: none;
    background: url('/assets/images/64.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon65,
  .fc-pokemon65 div,
  .fc-pokemon65 span a {
    border: none;
    background: url('/assets/images/65.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon66,
  .fc-pokemon66 div,
  .fc-pokemon66 span a {
    border: none;
    background: url('/assets/images/66.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon67,
  .fc-pokemon67 div,
  .fc-pokemon67 span a {
    border: none;
    background: url('/assets/images/67.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon68,
  .fc-pokemon68 div,
  .fc-pokemon68 span a {
    border: none;
    background: url('/assets/images/68.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon69,
  .fc-pokemon69 div,
  .fc-pokemon69 span a {
    border: none;
    background: url('/assets/images/69.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon70,
  .fc-pokemon70 div,
  .fc-pokemon70 span a {
    border: none;
    background: url('/assets/images/70.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon71,
  .fc-pokemon71 div,
  .fc-pokemon71 span a {
    border: none;
    background: url('/assets/images/71.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon72,
  .fc-pokemon72 div,
  .fc-pokemon72 span a {
    border: none;
    background: url('/assets/images/72.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon73,
  .fc-pokemon73 div,
  .fc-pokemon73 span a {
    border: none;
    background: url('/assets/images/73.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon74,
  .fc-pokemon74 div,
  .fc-pokemon74 span a {
    border: none;
    background: url('/assets/images/74.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon75,
  .fc-pokemon75 div,
  .fc-pokemon75 span a {
    border: none;
    background: url('/assets/images/75.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon76,
  .fc-pokemon76 div,
  .fc-pokemon76 span a {
    border: none;
    background: url('/assets/images/76.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon77,
  .fc-pokemon77 div,
  .fc-pokemon77 span a {
    border: none;
    background: url('/assets/images/77.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon78,
  .fc-pokemon78 div,
  .fc-pokemon78 span a {
    border: none;
    background: url('/assets/images/78.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon79,
  .fc-pokemon79 div,
  .fc-pokemon79 span a {
    border: none;
    background: url('/assets/images/79.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon80,
  .fc-pokemon80 div,
  .fc-pokemon80 span a {
    border: none;
    background: url('/assets/images/80.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon81,
  .fc-pokemon81 div,
  .fc-pokemon81 span a {
    border: none;
    background: url('/assets/images/81.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon82,
  .fc-pokemon82 div,
  .fc-pokemon82 span a {
    border: none;
    background: url('/assets/images/82.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon83,
  .fc-pokemon83 div,
  .fc-pokemon83 span a {
    border: none;
    background: url('/assets/images/83.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon84,
  .fc-pokemon84 div,
  .fc-pokemon84 span a {
    border: none;
    background: url('/assets/images/84.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon85,
  .fc-pokemon85 div,
  .fc-pokemon85 span a {
    border: none;
    background: url('/assets/images/85.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon86,
  .fc-pokemon86 div,
  .fc-pokemon86 span a {
    border: none;
    background: url('/assets/images/86.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon87,
  .fc-pokemon87 div,
  .fc-pokemon87 span a {
    border: none;
    background: url('/assets/images/87.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon88,
  .fc-pokemon88 div,
  .fc-pokemon88 span a {
    border: none;
    background: url('/assets/images/88.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon89,
  .fc-pokemon89 div,
  .fc-pokemon89 span a {
    border: none;
    background: url('/assets/images/89.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon90,
  .fc-pokemon90 div,
  .fc-pokemon90 span a {
    border: none;
    background: url('/assets/images/90.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon91,
  .fc-pokemon91 div,
  .fc-pokemon91 span a {
    border: none;
    background: url('/assets/images/91.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon92,
  .fc-pokemon92 div,
  .fc-pokemon92 span a {
    border: none;
    background: url('/assets/images/92.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon93,
  .fc-pokemon93 div,
  .fc-pokemon93 span a {
    border: none;
    background: url('/assets/images/93.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon94,
  .fc-pokemon94 div,
  .fc-pokemon94 span a {
    border: none;
    background: url('/assets/images/94.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon95,
  .fc-pokemon95 div,
  .fc-pokemon95 span a {
    border: none;
    background: url('/assets/images/95.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon96,
  .fc-pokemon96 div,
  .fc-pokemon96 span a {
    border: none;
    background: url('/assets/images/96.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon97,
  .fc-pokemon97 div,
  .fc-pokemon97 span a {
    border: none;
    background: url('/assets/images/97.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon98,
  .fc-pokemon98 div,
  .fc-pokemon98 span a {
    border: none;
    background: url('/assets/images/98.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon99,
  .fc-pokemon99 div,
  .fc-pokemon99 span a {
    border: none;
    background: url('/assets/images/99.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon100,
  .fc-pokemon100 div,
  .fc-pokemon100 span a {
    border: none;
    background: url('/assets/images/100.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon101,
  .fc-pokemon101 div,
  .fc-pokemon101 span a {
    border: none;
    background: url('/assets/images/101.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon102,
  .fc-pokemon102 div,
  .fc-pokemon102 span a {
    border: none;
    background: url('/assets/images/102.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon103,
  .fc-pokemon103 div,
  .fc-pokemon103 span a {
    border: none;
    background: url('/assets/images/103.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon104,
  .fc-pokemon104 div,
  .fc-pokemon104 span a {
    border: none;
    background: url('/assets/images/104.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon105,
  .fc-pokemon105 div,
  .fc-pokemon105 span a {
    border: none;
    background: url('/assets/images/105.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon106,
  .fc-pokemon106 div,
  .fc-pokemon106 span a {
    border: none;
    background: url('/assets/images/106.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon107,
  .fc-pokemon107 div,
  .fc-pokemon107 span a {
    border: none;
    background: url('/assets/images/107.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon108,
  .fc-pokemon108 div,
  .fc-pokemon108 span a {
    border: none;
    background: url('/assets/images/108.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon109,
  .fc-pokemon109 div,
  .fc-pokemon109 span a {
    border: none;
    background: url('/assets/images/109.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon10,
  .fc-pokemon10 div,
  .fc-pokemon10 span a {
    border: none;
    background: url('/assets/images/110.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon111,
  .fc-pokemon111 div,
  .fc-pokemon111 span a {
    border: none;
    background: url('/assets/images/111.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon112,
  .fc-pokemon112 div,
  .fc-pokemon112 span a {
    border: none;
    background: url('/assets/images/112.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon113,
  .fc-pokemon113 div,
  .fc-pokemon113 span a {
    border: none;
    background: url('/assets/images/113.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon114,
  .fc-pokemon114 div,
  .fc-pokemon114 span a {
    border: none;
    background: url('/assets/images/114.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon115,
  .fc-pokemon115 div,
  .fc-pokemon115 span a {
    border: none;
    background: url('/assets/images/115.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon116,
  .fc-pokemon116 div,
  .fc-pokemon116 span a {
    border: none;
    background: url('/assets/images/116.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon117,
  .fc-pokemon117 div,
  .fc-pokemon117 span a {
    border: none;
    background: url('/assets/images/117.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon118,
  .fc-pokemon118 div,
  .fc-pokemon118 span a {
    border: none;
    background: url('/assets/images/118.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon119,
  .fc-pokemon119 div,
  .fc-pokemon119 span a {
    border: none;
    background: url('/assets/images/119.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon120,
  .fc-pokemon120 div,
  .fc-pokemon120 span a {
    border: none;
    background: url('/assets/images/120.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon121,
  .fc-pokemon121 div,
  .fc-pokemon121 span a {
    border: none;
    background: url('/assets/images/121.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon122,
  .fc-pokemon122 div,
  .fc-pokemon122 span a {
    border: none;
    background: url('/assets/images/122.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon123,
  .fc-pokemon123 div,
  .fc-pokemon123 span a {
    border: none;
    background: url('/assets/images/123.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon124,
  .fc-pokemon124 div,
  .fc-pokemon124 span a {
    border: none;
    background: url('/assets/images/124.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon125,
  .fc-pokemon125 div,
  .fc-pokemon125 span a {
    border: none;
    background: url('/assets/images/125.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon126,
  .fc-pokemon126 div,
  .fc-pokemon126 span a {
    border: none;
    background: url('/assets/images/126.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon127,
  .fc-pokemon127 div,
  .fc-pokemon127 span a {
    border: none;
    background: url('/assets/images/127.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon128,
  .fc-pokemon128 div,
  .fc-pokemon128 span a {
    border: none;
    background: url('/assets/images/128.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon129,
  .fc-pokemon129 div,
  .fc-pokemon129 span a {
    border: none;
    background: url('/assets/images/129.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon130,
  .fc-pokemon130 div,
  .fc-pokemon130 span a {
    border: none;
    background: url('/assets/images/130.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon131,
  .fc-pokemon131 div,
  .fc-pokemon131 span a {
    border: none;
    background: url('/assets/images/131.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon132,
  .fc-pokemon132 div,
  .fc-pokemon132 span a {
    border: none;
    background: url('/assets/images/132.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon133,
  .fc-pokemon133 div,
  .fc-pokemon133 span a {
    border: none;
    background: url('/assets/images/133.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon134,
  .fc-pokemon134 div,
  .fc-pokemon134 span a {
    border: none;
    background: url('/assets/images/134.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon135,
  .fc-pokemon135 div,
  .fc-pokemon135 span a {
    border: none;
    background: url('/assets/images/135.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon136,
  .fc-pokemon136 div,
  .fc-pokemon136 span a {
    border: none;
    background: url('/assets/images/136.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon137,
  .fc-pokemon137 div,
  .fc-pokemon137 span a {
    border: none;
    background: url('/assets/images/137.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon138,
  .fc-pokemon138 div,
  .fc-pokemon138 span a {
    border: none;
    background: url('/assets/images/138.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon139,
  .fc-pokemon139 div,
  .fc-pokemon139 span a {
    border: none;
    background: url('/assets/images/139.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon140,
  .fc-pokemon140 div,
  .fc-pokemon140 span a {
    border: none;
    background: url('/assets/images/140.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon141,
  .fc-pokemon141 div,
  .fc-pokemon141 span a {
    border: none;
    background: url('/assets/images/141.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon142,
  .fc-pokemon142 div,
  .fc-pokemon142 span a {
    border: none;
    background: url('/assets/images/142.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon143,
  .fc-pokemon143 div,
  .fc-pokemon143 span a {
    border: none;
    background: url('/assets/images/143.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon144,
  .fc-pokemon144 div,
  .fc-pokemon144 span a {
    border: none;
    background: url('/assets/images/144.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon145,
  .fc-pokemon145 div,
  .fc-pokemon145 span a {
    border: none;
    background: url('/assets/images/145.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon146,
  .fc-pokemon146 div,
  .fc-pokemon146 span a {
    border: none;
    background: url('/assets/images/146.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon147,
  .fc-pokemon147 div,
  .fc-pokemon147 span a {
    border: none;
    background: url('/assets/images/147.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon148,
  .fc-pokemon148 div,
  .fc-pokemon148 span a {
    border: none;
    background: url('/assets/images/148.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon149,
  .fc-pokemon149 div,
  .fc-pokemon149 span a {
    border: none;
    background: url('/assets/images/149.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon150,
  .fc-pokemon150 div,
  .fc-pokemon150 span a {
    border: none;
    background: url('/assets/images/150.png') no-repeat;
    background-size: 20px 20px;
  }
  .fc-pokemon151,
  .fc-pokemon151 div,
  .fc-pokemon151 span a {
    border: none;
    background: url('/assets/images/151.png') no-repeat;
    background-size: 20px 20px;
  }
}
