.welcome-wrap {
  display: grid;
}

.pokemon-top {
  display: grid;
  place-items: center;
  background: #f2f2f2;
  &__swiper {
    background: #fff url(/assets/background/storage.png) center repeat-x;
    border-radius: 10px;
    box-shadow: 14px 10px 0 #d9d9d9;
    width: calc((1145 / 1280) * 100vw);
    border-radius: 0.78125vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 24px;
    @media screen and (max-width: 1080px) {
      display: block;
    }
  }
  &__images-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    @media screen and (max-width: 1080px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    @media screen and (max-width: 750px) {
      display: none;
    }
  }
  &__images {
    max-width: 72px;
  }
  &__text-wrap {
    text-align: center;
    padding: 0 8px;
  }
  &__text {
    font-size: 25px;
    font-weight: bold;
    color: #ffa353;
    margin-bottom: 56px;
  }
  &__login-btn {
    margin-bottom: 24px;
  }
}

.about {
  display: grid;
  place-items: center;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(254, 248, 194, 0.5),
    rgba(226, 251, 255, 0.5)
  );
  &__body {
    padding: 0 16px;
    margin-top: 80px;
    display: grid;
    place-items: center;
  }
  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
    text-align: center;
  }
  &__text {
    font-weight: 500;
    font-size: 16px;
    margin: 0 24px;
  }
  &__ball-image {
    max-width: 64px;
  }
  &__pokemon-image {
    max-width: 72px;
  }
}
