<div class="container">
  <div class="section section--quize">
    <div class="quize">
      <div class="quize__contents">
        <h1>
          <span>クイズに答えてポケモンを</span>
          <span>ゲットしよう！</span>
        </h1>
        <button routerLink="/quize" class="main-btn">
          クイズにチャレンジする
        </button>
      </div>
      <div class="quize__image">
        <img src="assets/ball/menu_ball.svg" alt="モンスターボールの画像" />
      </div>
    </div>
  </div>
</div>
<div class="color-body">
  <div class="container">
    <div class="section section--main">
      <app-pokemon-list></app-pokemon-list>
      <app-calendar></app-calendar>
    </div>
  </div>
</div>
