<div class="bga">
  <div class="init">
    <h1 class="init__title">最初のあいぼうをきめよう！！</h1>
  </div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slide-img">
          <img src="assets/images/{{ initPokemons[0].id }}.png" alt="" />
        </div>
        <div class="slide-content">
          <div class="caption">{{ initPokemons[0].name }}</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-img">
          <img src="assets/images/{{ initPokemons[1].id }}.png" alt="" />
        </div>
        <div class="slide-content">
          <div class="caption">{{ initPokemons[1].name }}</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-img">
          <img src="assets/images/{{ initPokemons[2].id }}.png" alt="" />
        </div>
        <div class="slide-content">
          <div class="caption">{{ initPokemons[2].name }}</div>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-pagination swiper-pagination-white"></div>
  </div>
</div>
