<div class="bga">
  <div class="container">
    <div class="quize">
      <h2 class="quize__title">しつもんに答えてポケモンをゲットしよう！！</h2>
      <mat-horizontal-stepper>
        <ng-container *ngFor="let question of questions; index as i">
          <mat-step [label]="question.label" state="phone">
            <p>{{ question.questionText }}</p>
            <div>
              <button mat-button matStepperNext (click)="answerTrue(i)">
                {{ question.yes }}
              </button>
              <button mat-button (click)="answerFalse(i)">
                {{ question.no }}
              </button>
              <button mat-button matStepperPrevious>{{ question.back }}</button>
            </div>
          </mat-step>
        </ng-container>

        <ng-template matStepperIcon="phone">
          <mat-icon>help_outline</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="phone">
          <mat-icon>help_outline</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="phone">
          <mat-icon>help_outline</mat-icon>
        </ng-template>
      </mat-horizontal-stepper>
    </div>
    <button class="sub-btn" (click)="submit()">キミに決めた！！！</button>
  </div>
</div>
